@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url(https://t3.ftcdn.net/jpg/05/37/17/24/360_F_537172411_C4GmfD6cpU7mrra2CYzyYUL34w3Bk1mN.jpg);
}
li{
  cursor: pointer ;
}
.bg-white{
 background-color:  rgba(255, 255, 255, 0.87)
}
.container{
  width: 90%;
  margin: 0 auto;
}
.tab_movie {
  background: url(http://demo1.cybersoft.edu.vn/static/media/back-news.b9861f84.png);
  margin-top: 30px;
  padding-top: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.gioChieuPhim{
  color: #9e9e9e;
    width: 100%;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    margin: 0px 16px 16px 0px;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgba(246, 246, 246, 0.5);
}
.container-tab{
  width: 70%;
  margin: 0 auto;

}
.container-app{
  width: 50%;
  margin: 0 auto;
}
.button_dow{
  color: #fff;
    border: none;
    padding: 8px 32px;
    font-size: medium;
    margin-top: 16px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #fb4226;
    text-align: center;
    line-height: 50px;
}
.mb-20 {
  margin-bottom: 5rem !important
}